body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "DM Serif Display", serif;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s ease-in-out;
}

.main {
  background-color: rgb(254, 252, 252);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

/* Carousel styles */
.carousel {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.carousel-slider {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.carousel-control > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.1s ease-in-out;
}

.carousel-control > button:hover {
  opacity: 0.8;
}

.carousel-slider > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-nav {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-nav-item {
  height: 90px;
  width: 90px;
}

.carousel-nav-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Right content */
.content {
  display: flex;
  width: 100%;
  height: 100%;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  margin-left: 80px;
  color: rgb(110, 110, 110);
}

.right-content > h1 {
  font-family: "DM Serif Display", serif;
  margin: 10px 0;
  color: rgb(30, 30, 30);
}

.sub-head {
  margin: 10px 0;
  color: rgb(30, 30, 30);
}

.sub-paragraph {
  color: rgb(110, 110, 110);
  margin: 10px 0;
}

.review {
  margin: 10px 0;
}

.stars {
  color: rgb(0, 209, 155);
}

.button {
  padding: 15px 30px;
  outline: none;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.dark {
  background-color: rgb(30, 30, 30);
  color: white;
  border-color: rgb(30, 30, 30);
  margin-right: 20px;
}

.dark:hover {
  background-color: black;
}

.light {
  background: none;
  border-color: rgb(30, 30, 30);
}

.light:hover {
  background-color: rgb(30, 30, 30);
  color: white;
}

.container {
  width: 70%;
  height: 100%;
}

.footer {
  margin-top: 30px;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.footer > .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
}

.section {
  width: 25%;
  display: flex;
  margin-top: 50px;
}

.section-icon > img {
  height: 40px;
  margin-right: 20px;
}

.section-content > h3 {
  color: rgb(30, 30, 30);
  margin: 5px 0;
}

.section-content > p {
  font-size: 15px;
  color: rgb(110, 110, 110);
}

/* Media queries */
@media only screen and (max-width: 900px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  .carousel {
    width: 120%;
  }
  .right-content {
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin: 50px 0;
  }
  .dark,
  .light {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer > .container {
    flex-direction: column;
    justify-content: center;
  }
  .section {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
